<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
		</Property>
		<Property name="LOG_FILE">logs/chat-storage.log</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="File"
					 fileName="${LOG_FILE}"
					 filePattern="logs/chat-storage-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout pattern="${LOG_PATTERN}" />

			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>

			<DefaultRolloverStrategy max="30"/>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="net.chatstorage" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>

		<Logger name="org.hibernate.SQL" level="info"/>

		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Root>

	</Loggers>

</Configuration>
